{% extends 'base.html.twig' %}

 {% block headline %}
     Card List
 {% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Question</th>
                <th>Answer</th>
                <th>Hint</th>
                <th>Position</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for card in cards %}
            <tr>
                <td><a href="{{ path('card_show', { 'id': card.id }) }}">{{ card.id }}</a></td>
                <td>{{ card.name }}</td>
                <td>{{ card.question }}</td>
                <td>{{ card.answer }}</td>
                <td>{{ card.hint }}</td>
                <td>{{ card.position }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('card_show', { 'id': card.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('card_edit', { 'id': card.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('card_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
